[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
