snippet sp "Serial.print();" b
Serial.print(${VISUAL}$0);
endsnippet

snippet spl "Serial.println();" b
Serial.println(${VISUAL}$0);
endsnippet

snippet dw "digitalWrite" b
digitalWrite(${VISUAL}$1, ${2:LOW});$0
endsnippet
